@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    background-color: #e9e9e9;
}

.white-bar {
    width: 100%;
    background: #FFF;
    height: 10px;
}

.bg-white {
    background: #FFF;
}

* {
    font-family: 'Lato', sans-serif;
}

.btn.btn-purple {
    background-color: #5860ab;
    border-color: #5860ab;
    color: #FFF !important;
    border-radius: 0;
}

.btn.btn-green {
    background-color: #74e06e;
    border-color: #74e06e;
    color: #FFF;
    border-radius: 0;
}

.btn.btn-select {
    border: 1px solid #5860ab;
    border-radius: 0;
}

.btn.btn-select.dropdown-toggle .filter-option {
    display: flex;
    align-items: center;
}

.btn.btn-select.dropdown-toggle:after {
    content: '\f078';
    font-family: 'FontAwesome', sans-serif;
    border: 0;
    color: #5860ab;
    margin-right: 10px;
    vertical-align: baseline;
}

a {
    color: #516db2;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #707070;
}

nav {
    margin-top: 10px;
}

nav.navbar {
    padding-left: 0;
    padding-right: 0;
}

nav.navbar .navbar-nav {
    align-items: center;
}

nav.navbar .navbar-nav .nav-item {
    margin-left: 10px;
}

nav.navbar .navbar-nav .nav-item .nav-link {
    font-size: 10px;
    color: #647a7d;
}

nav.navbar .navbar-nav .nav-item .btn-select {
    background-color: transparent;
    font-size: 12px;
    padding: .375rem .75rem;
}

nav.navbar .navbar-nav .nav-item.register-space .btn {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    padding: 0.45rem 0.35rem;
}

nav.navbar .navbar-nav .nav-item.fav .nav-link {
    text-transform: uppercase;
}

nav.navbar .navbar-nav .nav-item.create .nav-link {
    color: #516db2;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .social-links {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    list-style: none;
    display: flex;
}

footer .social-links li {
    margin-right: 10px;
}

footer .footer-nav {
    margin-top: 50px;
}

footer .footer-nav p {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #474648;
}

footer .footer-nav .footer-link {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer .footer-nav .footer-link h3 {
    font-size: 14px;
    line-height: 1.55rem;
}

footer .footer-nav .footer-link li a {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #474648;
}

.banner-hero {
    background: url(../images/banner-hero.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-hero .content-caption {
    padding-top: 100px;
    padding-bottom: 180px;
}

.banner-hero .content-caption h1 {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.banner-hero .content-caption p {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.banner-hero .content-caption .actions {
    display: flex;
}

.banner-hero .content-caption .actions .form-group {
    width: 275px;
    margin: 0 10px;
}

.banner-hero .content-caption .actions .form-group .btn-select,
.banner-hero .content-caption .actions .form-group a {
    width: 275px;
}

.banner-hero .content-caption .actions .form-group a:not(.dropdown-item) {
    text-transform: uppercase;
}

.banner-hero .content-caption .actions .form-group .btn-select {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #707070;
    padding: 0.650rem .75rem;
}

.banner-hero .content-caption .actions .form-group .btn-select:after {
    font-size: 12px;
}

.social-icon {
    background: url('../images/social-icons.png') no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.social-icon.facebook {
    background-position: 0 0;
}

.social-icon.instagram {
    background-position: -53px 0;
}

.social-icon.linkedin {
    background-position: -107px 0;
}

.social-icon.pinterest {
    background-position: -160px 0;
}

.how-work {
    padding: 0 10px;
}

.how-work h4,
.how-work p {
    color: #6d6e71;
}

.how-work h4 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    padding-top: 30px;
}

.how-work p {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    padding-top: 15px;
    margin-bottom: 40px;
}

.how-work .inner-content {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.how-work .inner-content .icon {
    margin-right: 30px;
}

.how-work .inner-content span {
    width: 210px;
    height: 100%;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #6d6e71;
}

.how-work .inner-content span em {
    font-style: normal;
    font-weight: 300;
}

.how-work .inner-content span span {
    width: 30%;
    height: 2px;
    background-color: #eab847;
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: -10px;
}

.categories {
    padding: 0 10px;
    padding: 40px 0;
}

.categories h2 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #6d6e71;
    text-transform: uppercase;
}

.categories .all-categories {
    margin: 0;
    padding: 0;
    list-style: none;
}

.categories .all-categories .category {
    width: 33.3%;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.categories .all-categories .category a {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #474648;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.categories .all-categories .category a img {
    margin-bottom: 15px;
}

.categories .all-categories .category a h3 {
    padding: 0 20px 10px;
    font-weight: normal;
    margin-bottom: 0;
}

.categories .all-categories .category a .bottom-bar {
    width: 157px;
    margin: 0 auto;
    margin-top: 15px;
    height: 2px;
    background-color: #eab847;
}

.share {
    margin-right: -15px;
    margin-left: -15px;
    padding: 0 25px;
    background: url('../images/share-bg.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share .box {
    width: 100%;
    max-width: 620px;
    height: 208px;
    background: #FFF;
    margin-top: 70px;
    margin-bottom: 125px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.share .box h4 {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #474648;
}

.share .box p {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #474648;
    margin-top: 10px;
}

.share .box a {
    text-transform: uppercase;
    width: 260px;
}

.newsletter {
    height: 115px;
}

.newsletter span {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #3d5152;
    margin: 0 10px;
}

.newsletter form {
    display: flex;
    max-width: 500px;
    width: 100%;
}

.newsletter form input {
    width: 100%;
    max-width: 360px;
    padding: .650rem 15px;
    margin-right: 10px;
    border: solid 1px #bcbdbf;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #bcbdbf;
}

.newsletter form input::placeholder {
    color: #bcbdbf;
}

.newsletter form button {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.why-use {
    margin-right: -15px;
    padding-left: 10px;
}

.why-use h2 {
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #6d6e71;
    margin-bottom: 45px;
}

.why-use p {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #6d6e71;
}

.top-results {
    padding-left: 10px;
    padding-right: 10px;
}
.top-results a {
    text-decoration: none;
    position: relative;
    display: block;
    overflow: hidden;
}

.top-results .over {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
}

.top-results .over .city {
    padding: 5px;
    background-color: #424143;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: #ffffff;
    margin-right: 10px;
}

.top-results .over .value {
    padding: 5px;
    background-color: #4d2668;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: #ffffff;
    width: auto;
}

.top-results .over .value span {
    font-weight: 200;
}

.top-results .col-md-4 .over {
    bottom: 64px;
}

.top-results h4 {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #6d6e71;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}

.top-results .caption strong {
    display: block;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #424143;
    margin-top: 10px;
}

.top-results .caption span {
    font-size: 12px;
    line-height: 1.67;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #6d6e71;
}

.top-results .btn-search {
    width: auto;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.search .filters {
    margin-bottom: 15px;
}

.search .filters .bootstrap-select {
    width: 200px !important;
}

.search .filters .btn-select:after {
    font-size: 12px;
}

.search .filters .btn-select.select-medium {
    width: 150px;
}

.search .filters .form-medium {
    width: 150px;
}

.search .filters .btn.btn-green {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.search .form-select-filter .btn-select {
    overflow: hidden;
    padding-right: 20px;
}

.search .form-select-filter div.dropdown-menu.show {
    max-width: 600px;
    width: 600px;
    margin-left: -292px;
    border-radius: 0;
    border: 2px solid #4d2668;
}

.search .form-select-filter div.dropdown-menu.show ul.dropdown-menu {
    display: flex;
    flex-wrap: wrap;
}

.search .form-select-filter div.dropdown-menu.show ul.dropdown-menu:before {
    content: 'Filtre pelas características abaixo:';
    width: 100%;
    display: block;
    overflow: hidden;
    font-size: 18px;
    color: #707070;
    margin-left: 20px;
    margin-bottom: 20px;
}

.search .form-select-filter div.dropdown-menu.show ul.dropdown-menu li {
    width: 33%;
}

.search .form-select-filter div.dropdown-menu.show ul.dropdown-menu li a {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #707070;
    padding-left: 40px;
}

.search .form-select-filter div.dropdown-menu.show ul.dropdown-menu li span.check-mark {
    position: absolute;
    display: block !important;
    left: 20px;
    top: 5px;
}

.search .form-select-filter div.dropdown-menu.show ul.dropdown-menu li span.check-mark:after {
    content: '\f096';
    font-family: 'FontAwesome', sans-serif;
    border: 0;
    transform: rotate(0deg);
}

.search .form-select-filter div.dropdown-menu.show ul.dropdown-menu li .selected span.check-mark {
    left: 20px;
}

.search .form-select-filter div.dropdown-menu.show ul.dropdown-menu li .selected span.check-mark:after {
    content: '\f046';
    font-family: 'FontAwesome', sans-serif;
    border: 0;
    transform: rotate(0deg);
}

.search .content-map .maps .card-map {
    margin-bottom: 23px;
    position: relative;
}

.search .content-map .maps .card-map .flag {
    position: absolute;
    right: 10px;
    bottom: 80px;
    padding: 5px;
    background-color: #4d2668;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: #ffffff;
    width: auto;
}

.search .content-map .maps .card-map .favorite {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search .content-map .maps .card-map .favorite i {
    font-size: 10px;
    color: #4d2668;
}

.search .content-map .maps .card-map .caption h2 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #424143;
}

.search .content-map .maps .card-map .caption p.review {
    margin-bottom: 0;
    font-size: 10px;
}

.search .content-map .maps .card-map .caption p.review i {
    font-size: 14px;
    color: #e9e9e9;
    margin-right: 2px;
    cursor: pointer;
}

.search .content-map .maps .card-map .caption p.review i.fill {
    color: #4d2668;
}

.search .content-map .maps .card-map .caption p.review span {
    margin-left: 10px;
}

.search .content-map .maps .card-map .caption p.desc {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search .content-map .maps .card-map .caption p.desc span img {
    margin-right: 5px;
}

.search .content-map .maps .card-map .caption p.desc span.person img {
    width: 8.89px;
    height: 9.38px;
}

.search .content-map .maps .card-map .caption p.address,
.search .content-map .maps .card-map .caption p.district {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    margin-bottom: 0;
}

.search .content-map .maps .card-map .slick-arrow {
  position: absolute;
  top: 42%;
  z-index: 20;
}

.search .content-map .maps .card-map .slick-arrow.slick-prev {
    left: 5px;
}

.search .content-map .maps .card-map .slick-arrow.slick-next {
    right: 5px;
}

.search .content-map .maps .pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e9e9;
    padding: 2px 0;
}

.search .content-map .maps .pagination-wrapper span.text {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #424143;
    padding-left: 10px;
}

.search .content-map .maps .pagination-wrapper span.prev-arrow,
.search .content-map .maps .pagination-wrapper span.next-arrow {
    font-size: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #6d6e71;
}

.search .content-map .maps .pagination-wrapper span.prev-arrow.inactive,
.search .content-map .maps .pagination-wrapper span.next-arrow.inactive {
    opacity: .3;
}

.search .content-map .maps .pagination-wrapper .pagination {
    margin-right: 10px;
}

.search .content-map .maps .pagination-wrapper .pagination .pagination-items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.search .content-map .maps .pagination-wrapper .pagination .pagination-items li {
    margin: 0 2px;
    display: flex;
    align-items: center;
}

.search .content-map .maps .pagination-wrapper .pagination .pagination-items li a {
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #929497;
    padding: 2px 5px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.search .content-map .maps .pagination-wrapper .pagination .pagination-items li a:hover,
.search .content-map .maps .pagination-wrapper .pagination .pagination-items li a.active {
    background: #5860ab;
    color: #FFF;
}

.product .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 20;
}

.product .slick-arrow.slick-prev {
    left: 10px;
}

.product .slick-arrow.slick-next {
    right: 10px;
}

.product .info-block {
    width: 350px;
    transition: all 0.2s ease-in-out;
}

.product .info-block.block-fixed {
    position: fixed;
    background: #ffffff;
    z-index: 10000000;
    top: 15px;
}

.product .info-block.block-fixed .price {
    margin-top: 0;
}

.product .info-block .price {
    height: 70px;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5860ab;
}

.product .info-block .price span {
    font-size: 24px;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.product .info-block .details {
    width: 100%;
    background-color: #e5e6e6;
    padding: 15px;
}

.product .info-block .details .person-qty {
    border-bottom: solid 1px #929497;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
}

.product .info-block .details .person-qty span {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

.product .info-block .details .schedule .schedule-form .options {
    display: flex;
}

.product .info-block .details .schedule .schedule-form .action {
    margin-bottom: 10px;
}


.product .info-block .details .schedule .schedule-form .options label {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin-top: 10px;
}

.product .info-block .details .schedule .schedule-form .options .form-start,
.product .info-block .details .schedule .schedule-form .options .form-end {
    width: 80px;
}

.product .info-block .details .schedule .schedule-form .options .form-start .bootstrap-select,
.product .info-block .details .schedule .schedule-form .options .form-end .bootstrap-select {
    width: 100%;
}

.product .info-block .details .schedule .schedule-form .options .form-start .bootstrap-select .btn.btn-select.dropdown-toggle:after,
.product .info-block .details .schedule .schedule-form .options .form-end .bootstrap-select .btn.btn-select.dropdown-toggle:after {
    font-size: 10px;
    position: absolute;
    top: 11px;
    right: 5px;
}

.product .info-block .details .schedule .schedule-form .options .form-date .btn-select {
    border: 1px solid #5860ab;
    border-radius: 0;
}

.product .info-block .details .schedule .schedule-form .btn.btn-green {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.product .info-block .product-interation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.product .info-block .product-interation .btn-favorite {
    border-radius: 0;
}

.product .info-block .product-interation span {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.33;
    letter-spacing: normal;
    text-align: right;
    color: #929497;
}

.product .info-block .product-interation .social-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.product .info-block .product-interation .social-links a {
    display: block;
    overflow: hidden;
    height: 40px;
}

.product .info-block .product-interation .social-links .social-icon {
    -webkit-filter: grayscale(100%) brightness(180%);
    /* Safari */
    filter: grayscale(100%) brightness(180%);
    transform: scale(0.9);
}

.product .product-detail-block {
    margin-top: 25px;
}

.product .product-detail-block .user-info {
    text-align: center;
}

.product .product-detail-block .user-info span {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: center;
    color: #424143;
}

.product .product-detail-block .user-info .btn {
    font-size: 13px;
    width: 100%;
}

.product .product-detail-block .comments .comment {
    display: flex;
    margin-bottom: 15px;
}

.product .product-detail-block .comments .comment .thumb {
    margin-right: 25px;
}

.product .product-detail-block .comments .comment .details {
    display: flex;
    flex-direction: column;
}

.product .product-detail-block .comments .comment .details p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #424143;
}

.product .product-detail-block .comments .comment .details p.desc {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #6d6e71;
}

.product .product-detail-block .comments .comment .details span strong {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #6d6e71;
}

.product .product-detail-block .comments .comment .details span.review {
    margin-bottom: 0;
    font-size: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.product .product-detail-block .comments .comment .details span.review i {
    font-size: 16px;
    color: #e9e9e9;
    margin-right: 2px;
}

.product .product-detail-block .comments .comment .details span.review i.fill {
    color: #5860ab;
}

.product .product-detail-block .product-head {
    margin-bottom: 20px;
}

.product .product-detail-block .product-head h2 {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.73;
    letter-spacing: normal;
    text-align: left;
    color: #424143;
}

.product .product-detail-block .product-head strong {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

.product .product-detail-block .product-head p.review {
    margin-bottom: 0;
    font-size: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.product .product-detail-block .product-head p.review i {
    font-size: 32px;
    color: #e9e9e9;
    margin-right: 2px;
    cursor: pointer;
}

.product .product-detail-block .product-head p.review i.fill {
    color: #5860ab;
}

.product .product-detail-block .product-head p.review span {
    margin-left: 10px;
    font-size: 16px;
}

.product .product-detail-block .product-head p.review a.float-right {
    position: absolute;
    right: 0;
    font-size: 16px;
}

.product .product-detail-block .product-description h3 {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.73;
    letter-spacing: normal;
    text-align: left;
    color: #5860ab;
    margin-bottom: 25px;
    margin-top: 50px;
}

.product .product-detail-block .product-description .recomendation {
    margin-top: 50px;
}

.product .product-detail-block .product-description .recomendation p a {
    width: 100%;
    margin-top: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #6d6e71;
    text-decoration: none;
    position: relative;
}

.product .product-detail-block .product-description .recomendation p a span {
    padding: 5px 30px;
    background: #FFF;
    position: relative;
    z-index: 2;
    overflow: visible;
}

.product .product-detail-block .product-description .recomendation p a:after {
    width: 100%;
    content: '';
    height: 1px;
    background: #6d6e71;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
}

.product .product-detail-block .product-description .recomendation p a i {
    display: block;
}

.product .product-detail-block .product-description .about p,
.product .product-detail-block .product-description .rules p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #6d6e71;
}

.product .product-detail-block .product-description .flags .list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product .product-detail-block .product-description .flags .list .item {
    width: 33%;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #6d6e71;
}

.product .product-detail-block .product-description .related .card-map {
    margin-bottom: 23px;
    position: relative;
}
.product .product-detail-block .product-description .related .card-map .img-list{
    position: relative;
    margin-bottom: 5px;
}
.product .product-detail-block .product-description .related .card-map .flag {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px;
    background-color: #4d2668;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: #ffffff;
    width: auto;
}

.product .product-detail-block .product-description .related .card-map .favorite {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product .product-detail-block .product-description .related .card-map .favorite i {
    font-size: 10px;
    color: #5860ab;
}

.product .product-detail-block .product-description .related .card-map .caption h2 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #424143;
}

.product .product-detail-block .product-description .related .card-map .caption p.review {
    margin-bottom: 0;
    font-size: 10px;
}

.product .product-detail-block .product-description .related .card-map .caption p.review i {
    font-size: 14px;
    color: #e9e9e9;
    margin-right: 2px;
    cursor: pointer;
}

.product .product-detail-block .product-description .related .card-map .caption p.review i.fill {
    color: #5860ab;
}

.product .product-detail-block .product-description .related .card-map .caption p.review span {
    margin-left: 10px;
}

.product .product-detail-block .product-description .related .card-map .caption p.desc {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.product .product-detail-block .product-description .related .card-map .caption p.desc span img {
    margin-right: 5px;
}

.product .product-detail-block .product-description .related .card-map .caption p.desc span.person {
    margin-right: 20px;
}

.product .product-detail-block .product-description .related .card-map .caption p.desc span.person img {
    width: 8.89px;
    height: 9.38px;
}

.product .product-detail-block .product-description .related .card-map .caption p.address,
.product .product-detail-block .product-description .related .card-map .caption p.district {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    margin-bottom: 0;
}

.product .product-detail-block .product-description .related .card-map .caption p.district {
    margin-top: 10px;
}

.product .product-detail-block .product-description .related .card-map .slick-arrow {
  position: absolute;
  top: 42%;
  z-index: 20;
}

.product .product-detail-block .product-description .related .card-map .slick-arrow.slick-prev {
    left: 5px;
}

.product .product-detail-block .product-description .related .card-map .slick-arrow.slick-next {
    right: 5px;
}

@media screen and (max-width: 992px) {
    body {
        background-color: #FFF;
        padding-top: 51px;
    }
}

@media screen and (max-width: 992px) {
    nav {
        margin-top: 0;
    }

    nav.navbar {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        display: block;
        position: fixed;
        background: #FFF;
        z-index: 9999;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.035), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
        top: 0;
    }

    nav.navbar .navbar-brand {
        padding-top: 0;
    }

    nav.navbar .navbar-brand img {
        width: 110px;
    }

    nav.navbar .navbar-toggler {
        padding: 0;
        border: 0;
    }

    nav .mobile-buttons {
        width: 125px;
        justify-content: space-between;
        align-items: center;
    }

    nav .navbar-collapse {
        position: absolute;
        display: block !important;
        height: 100vh !important;
        right: -100vw;
        width: 100vw;
        top: 51px;
        display: block;
        transition: all 0.5s ease-in-out;
    }

    nav .navbar-collapse .navbar-nav {
        width: 40vw;
        padding-top: 15px;
        background: #FFF;
        height: 100%;
        align-items: flex-start;
    }

    nav .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
        border-bottom: 1px solid #e9e9e9;
        padding-left: 15px;
        margin-right: 15px;
    }

    nav .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 16px;
    }

    nav .navbar-collapse.opened {
        right: 0;
    }

    .nav-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        z-index: 9998;
    }

    .nav-backdrop.show {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 552px) {
    nav.navbar .navbar-collapse .navbar-nav {
        width: 80vw;
    }
}

@media screen and (max-width: 992px) {
    footer {
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #e9e9e9;
    }

    footer .social-links {
        justify-content: space-between;
    }

    footer .social-links li:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 552px) {
    footer .nav-list {
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .banner-hero {
        background: none;
        flex-wrap: wrap;
    }

    .banner-hero .content-caption {
        padding-bottom: 0;
        padding-top: 0;
        width: 100%;
    }

    .banner-hero .content-caption h1 {
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-transform: none;
        text-align: center;
        color: #707070;
    }

    .banner-hero .content-caption p {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: center;
        color: #707070;
        text-transform: none;
    }

    .banner-hero .content-caption .actions {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .banner-hero .content-caption .actions .form-group .btn-select {
        margin-bottom: 10px;
        background-color: #FFF;
    }

    .top-results {
        padding-left: 0;
        padding-right: 0;
    }

    .top-results .btn-search {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .why-use {
        margin-right: auto;
        padding-left: 0;
    }

    .why-use .col-md-8 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        order: 0;
        margin-top: 15px;
    }

    .why-use .col-md-4 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        order: 1;
    }

    .why-use h2 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .why-use p {
        font-size: 16px;
    }

    .how-work .col-md-4 {
        margin-bottom: 50px;
    }

    .share .box {
        background-color: rgba(255, 255, 255, 0.9);
        margin-bottom: 70px;
    }

    .share .box h4 {
        line-height: 2rem;
    }

    .categories .all-categories {
        flex-direction: column;
    }

    .categories .all-categories .category {
        width: 100%;
        padding: 0;
    }

    .categories .all-categories .category a img {
        width: 100%;
    }
}

.slick-dots {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li {
    width: 10px;
    height: 10px;
    background-color: #FFF;
    border: solid 2px #707070;
    border-radius: 50%;
    text-indent: -9000px;
    margin: 0 5px;
    transition: all 0.2s ease-in-out;
}

.slick-dots li.slick-active {
    background-color: #707070;
    border: solid 2px #707070;
}
.box-img {
  min-height: 200px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
    .search .content-map .maps .card-map .flag {
        bottom: 97px;
    }
}
@media screen and (max-width: 552px) {
    .top-block .box-img {
        height: 200px;
    }

    .top-block .box-img a {
        height: 200px;
    }

    .top-block .box-img a img {
        max-width: initial !important;
        height: auto;
        margin-left: -50%;
    }

    .top-results .other-results .slick-list {
        padding: 0 80px 0 0 !important;
    }

    .newsletter {
        background-color: #e9e9e9;
        flex-wrap: wrap;
        justify-content: flex-start !important;
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px;
        overflow: hidden;
        height: auto;
    }

    .newsletter>span {
        width: 76%;
    }

    .newsletter form {
        flex-direction: column;
        overflow: hidden;
        margin-top: 15px;
    }

    .newsletter form input {
        width: 100%;
        max-width: 100%;
    }

    .newsletter form .btn {
        margin-top: 15px;
        padding: 13px 0;
    }
}

@media screen and (min-width: 552px) and (max-width: 768px) {
    .banner-hero {
        margin-bottom: 30px;
    }

    .banner-hero .content-caption .actions {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .top-results .other-results .col-md-4 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .share {
        margin-right: 0;
        margin-left: 0;
    }

    .how-work .inner-content .icon {
        margin-right: 10px;
    }

    .how-work .inner-content span {
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {
    .search section.filters {
        position: fixed;
        left: 0;
        top: 0;
        background: #ffffff;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
    }

    .search section.filters.active {
        opacity: 1;
        visibility: visible;
    }

    .search section.filters .inner-filters {
        position: relative;
        padding-top: 100px;
        padding-bottom: 60px;
        height: 100vh;
    }

    .search section.filters .inner-filters .header-filter-mob {
        width: 100%;
        height: 100px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 1px solid #e9e9e9;
        padding-top: 30px;
    }

    .search section.filters .inner-filters .header-filter-mob .btn-close-filters {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 20px;
    }

    .search section.filters .inner-filters .header-filter-mob strong {
        font-size: 22px;
        font-weight: normal;
    }

    .search section.filters .inner-filters form {
        padding-top: 20px;
        overflow: scroll;
        height: 100%;
    }

    .search section.filters .inner-filters form>.form-group {
        width: 80%;
        margin: 0 auto;
    }

    .search section.filters .inner-filters form>.form-group .bootstrap-select {
        width: 100% !important;
    }

    .search section.filters .inner-filters form>.form-group .btn-select {
        background: transparent;
        margin-bottom: 15px;
    }

    .search section.filters .inner-filters form>.form-group .btn-select.select-medium {
        width: 100%;
    }

    .search section.filters .inner-filters form .form-select-filter {
        width: 100%;
    }

    .search section.filters .inner-filters form .form-select-filter .dropdown-toggle {
        display: none;
    }

    .search section.filters .inner-filters form .form-select-filter div.dropdown-menu {
        display: block !important;
        position: relative !important;
        width: 100%;
        margin-left: 0;
        z-index: 1;
        min-height: auto !important;
        height: auto !important;
        max-height: 100% !important;
        border: 0;
    }

    .search section.filters .inner-filters form .form-select-filter div.dropdown-menu.show .inner.show {
        max-height: 100% !important;
        min-height: auto !important;
    }

    .search section.filters .inner-filters form .form-select-filter div.dropdown-menu.show ul.dropdown-menu li {
        width: 50%;
        display: block;
        overflow: hidden;
    }

    .search section.filters .inner-filters form .form-select-filter div.dropdown-menu.show ul.dropdown-menu li a span.text {
        font-size: 12px;
    }

    .search section.filters .inner-filters .footer-mob-actions {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #FFF;
        height: 60px;
        padding: 10px 10px 0;
        border-top: 1px solid #e9e9e9;
    }

    .search section.filters .inner-filters .footer-mob-actions .form-group {
        display: flex;
    }

    .search section.filters .inner-filters .footer-mob-actions .form-group .cancel-filter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search section.filters .inner-filters .footer-mob-actions .form-group .cancel-filter,
    .search section.filters .inner-filters .footer-mob-actions .form-group .btn-green {
        width: 50%;
        font-size: 14px;
    }

    .search section.filters .inner-filters .footer-mob-actions .form-group .btn-green {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .search .btn-filter {
        position: fixed;
        top: 51px;
        left: 0;
        right: 0;
        z-index: 1001;
        margin: 0 auto;
        text-align: center;
        color: #424143;
        background-color: #FFF;
        width: 100%;
        text-transform: uppercase;
        font-size: 14px;
        border-bottom: 1px solid #e9e9e9;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .search .content-map {
        margin-top: 50px;
    }

    .search .content-map .map {
        position: fixed;
        top: 51px;
        left: 0;
        background: #ffffff;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
    }

    .search .content-map .map.active {
        opacity: 1;
        visibility: visible;
    }

    .search .content-map .btn-map {
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        z-index: 1001;
        margin: 0 auto;
        text-align: center;
        color: #FFF;
        background-color: #5860ab;
        width: 91%;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 100px;
    }

    .search .content-map .maps .pagination-wrapper {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .search .content-map .maps .pagination-wrapper span.text {
        width: 100%;
        display: block;
        overflow: hidden;
        text-align: center;
        padding-left: 0;
        margin-bottom: 10px;
    }

    .search .content-map .maps .pagination-wrapper .pagination {
        margin-right: 0;
    }

    .search .content-map .maps .pagination-wrapper .pagination .pagination-items li a {
        font-size: 16px;
    }
    .product .col-info {
        order: 0;
    }

    .product .col-info .info-block {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .product .col-info .info-block .price {
        margin-top: 0;
    }

    .product .col-info .info-block .product-interation {
        flex-direction: column;
    }

    .product .col-info .info-block .product-interation span {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .product .col-info .info-block .product-interation .btn-favorite {
        width: 100%;
    }

    .product .col-info .info-block .schedule .options {
        justify-content: center;
    }

    .product .col-info .info-block .schedule .options .form-date {
        width: 110px;
    }

    .product .col-info .info-block .schedule .options .btn.btn-select {
        background: #FFF;
    }

    .product .col-product {
        order: 1;
    }

    .product .col-product .product-detail-block .product-head {
        margin-top: 30px;
    }

    .product .col-product .product-detail-block .user-info {
        border-top: 1px solid #e5e6e6;
        margin-top: 30px;
        padding-top: 15px;
    }

    .product .col-product .product-detail-block .user-info .user-detail span {
        width: 100%;
        display: block;
    }

    .product .col-product .product-detail-block .user-info .btn {
        max-width: 170px;
    }
    .search .content-map .maps .card-map .flag {
        bottom: 77px;
    }
}

@media screen and (max-width: 552px) {
    .product .product-detail-block .product-head p.review {
        padding-bottom: 30px;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .product .product-detail-block .product-head p.review span {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .product .product-detail-block .product-head p.review a {
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }

    .product .product-detail-block .product-description h3 {
        line-height: 1;
    }

    .product .product-detail-block .product-description .related h3 {
        text-align: center;
    }

    .product .product-detail-block .product-description .flags .list {
        justify-content: space-between;
    }

    .product .product-detail-block .product-description .flags .list .item {
        width: 45%;
    }
}

@media screen and (max-width: 320px) {
    .product .info-block .details .person-qty span {
        font-size: 11px;
    }

    .product .info-block .details .schedule .options .form-date {
        width: 110px;
    }

    .product .product-detail-block .product-head h2 {
        font-size: 18px;
        line-height: 1px;
    }

    .product .product-detail-block .product-head strong {
        font-size: 14px;
    }
}