---
# Only the main Sass file needs front matter (the dashes are enough)
---


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "mixin",
        "animacoes",
        "variables",
        "progress",
        "cards",
        "banner",
        "header",
        "footer",
        "pages",
        "layout",
        "post",
        "syntax-highlighting"
;
