@font-face {
    font-family: 'Futura-Std';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/FuturaStdBook_19044.eot') format('eot');
    src: url('../fonts/FuturaStdBook_19044.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FuturaStdBook_19044.woff') format('woff'),
         url('../fonts/FuturaStdBook_19044.ttf') format('truetype');
  }
@font-face {
  font-family: 'Futura-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/FuturaBT-Bold.eot') format('eot');
  src: url('../fonts/FuturaBT-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FuturaBT-Bold.woff') format('woff'),
       url('../fonts/FuturaBT-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Futura-Light';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Futura-Light.eot') format('eot');
  src: url('../fonts/Futura-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Futura-Light.woff') format('woff'),
       url('../fonts/Futura-Light.ttf') format('truetype');
		 }

#moveis-wizard .wizard-session ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin: 0;
  padding: 0;
	height: 38px;
  background-color: #ecf5fc;
}
#moveis-wizard .wizard-session ul li {
	display: flex;
	align-items: center;
	font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: normal;
  color: #CCC;

}
#moveis-wizard .wizard-session ul li.active {
	color: #ff1c47;
}
#moveis-wizard .wizard-session ul li span {
	font-family: 'Futura-Light';
  color: #cccccc;
  font-weight: 300;
  font-size: 20px;
	line-height: 1.4;
	margin-right: 3px;
	position: relative;
  top: 3px;
}
#moveis-wizard .wizard-session ul li.active span {
	font-family: 'Futura-Bold';
  color: #ff1c47;
  font-weight: 700;
	top: 0;
}
#moveis-wizard .wizard-local__text {
	margin-bottom: 10px;
	padding: 0 10px;
}
#moveis-wizard .wizard-local__text h2 {
	margin-bottom: 10px;
  color: #2a7bbf;
  font-weight: 700;
  font-family: 'Futura-Bold';
  font-size: 14px;
}
#moveis-wizard .wizard-local__text p {
	font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #aeaeae;
}
#moveis-wizard .wizard-local__list {
	margin: 0;
	padding: 0 10px;
	list-style: none;
}
#moveis-wizard .wizard-local__list li {
    width: 31.1%;
    height: auto;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
#moveis-wizard .wizard-local__list li:nth-child(3n+3){
	margin-right: 0;
}
#moveis-wizard .wizard-local__list li:before{
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 2;
	top: 4px;
	right: 4px;
	border-radius: 50%;
	border: 1px solid #2e82bd;
	background-color: #ecf5fb;
	opacity: 0;
	transition: all .25s ease-in-out;
}
#moveis-wizard .wizard-local__list li:after{
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	z-index: 3;
	top: 9px;
	right: 8px;
	border: 2px solid #2e82bd;
	border-top: 0px;
	border-right: 0px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	opacity: 0;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
#moveis-wizard .wizard-local__list li.active img {
	border-color: #ffb83d;
}
#moveis-wizard .wizard-local__list li.active p {
	background-color: #ffb83d;
	color: #2e82bf;
}
#moveis-wizard .wizard-local__list li.active:before,
#moveis-wizard .wizard-local__list li.active:after {
	opacity: 1;
}
#moveis-wizard .wizard-local__list li.active:before {
	background-color: #ffb83d;
	border-color: #ffb83d;
}
#moveis-wizard .wizard-local__list figure {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	padding-top: 100%;
}
#moveis-wizard .wizard-local__list figure img {
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
	border-radius: 5px;
	border: 1px solid transparent;
}
#moveis-wizard .wizard-local__list p {
	width: 87px;
	height: 20px;
	padding: 0 5px;
	position: absolute;
	bottom: 1px;
	left: 1px;
	-webkit-border-radius: 0 5px 0 5px;
	-moz-border-radius: 0 5px 0 5px;
	-o-border-radius: 0 5px 0 5px;
	-ms-border-radius: 0 5px 0 5px;
	border-radius: 0 5px 0 5px;
	line-height: 21px;
	background-color: #00589a;
	color: #FFF;
	font-weight: 700;
	font-family: 'Futura-Light';
	font-size: 11px;
}
#moveis-wizard .wizard-local__buttons {
	width: 100%;
  height: 64px;
	display: inline-block;
	margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0 -1.5px 3px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
}
#moveis-wizard .wizard-local__buttons button{
	width: 300px;
	height: 43px;
	margin-top: 11.5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	border: 0px;
	background-color: #73b529;
	color: #FFF;
	font-weight: 700;
	font-family: 'Futura-Bold';
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 1px;
	font-style: normal;
  font-stretch: normal;
}
#moveis-wizard .wizard-local__buttons button:disabled {
	background-color: #b5d99a;
	cursor: default;
}
#moveis-wizard .wizard-details {
	position: relative;
	display: none;
}
#moveis-wizard .wizard-details__text {
  margin-bottom: 30px;
	padding: 0 10px;
}
#moveis-wizard .wizard-details__text h2 {
  margin-bottom: 10px;
  color: #2a7bbf;
  font-weight: 700;
  font-family: 'Futura-Bold';
	font-size: 14px;
}
#moveis-wizard .wizard-details-left {
	padding: 0 10px;
}
#moveis-wizard .wizard-details__name label,
#moveis-wizard .wizard-details__measures p,
#moveis-wizard .wizard-details__rooms1 p {
	width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
#moveis-wizard .wizard-details__name input {
  width: 100%;
  height: 42px;
  display: inline-block;
  margin-bottom: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFF;
  border: solid 1px #cccccc;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.14;
  color: #666666;
	font-weight: 400;
}
#moveis-wizard .wizard-details__name{
	margin-bottom: 37.5px;
}
#moveis-wizard .wizard-details__name p {
  width: 100%;
  display: inline-block;
  text-align: right;
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
	color: #8c8c8c;
}
#moveis-wizard .wizard-details-input__height,
#moveis-wizard .wizard-details-input__width {
	width: 48%;
}
#moveis-wizard .wizard-details-input__height {
	float: left;
}
#moveis-wizard .wizard-details-input__width {
	float: right;
}
#moveis-wizard .wizard-details-input__height input,
#moveis-wizard .wizard-details-input__width input {
	width: 100%;
  height: 42px;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFF;
  border: solid 1px #cccccc;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.14;
  color: #666666;
	font-weight: 400;
}
#moveis-wizard .wizard-details-input__height label,
#moveis-wizard .wizard-details-input__width label {
	margin-top: 10px;
  font-family: Arial;
  font-size: 11px;
  line-height: 1.17;
  text-align: right;
  color: #aeaeae;
  width: 100%;
  display: inline-block;
}
#moveis-wizard .wizard-details__rooms1,
#moveis-wizard .wizard-details__rooms2 {
	margin-bottom: 10px;
}
#moveis-wizard .wizard-details__rooms1:after,
#moveis-wizard .wizard-details__rooms2:after {
	content: "";
	display: block;
	clear: both;
}
#moveis-wizard .wizard-details-rigth {
  position: absolute;
	z-index: 10;
  top: -98px;
  left: 0;
  background-color: #FFF;
	height: 100%;
	width: 100%;
	padding: 0 10px;
	display: none;
}
#moveis-wizard .wizard-details-rigth h2 {
  margin: 20px 0 23px;
	font-family: 'Futura-Bold';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #ff1c47;
	text-transform: uppercase;
}
#moveis-wizard .wizard-details-rigth label {
  width: 100%;
  display: inline-block;
  margin-bottom: 11px;
	font-family: Arial;
  font-size: 14px;
  line-height: 1.13;
	color: #666666;
}
#moveis-wizard .wizard-details-rigth textarea {
	width: 100%;
  height: 94px;
	padding: 15px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
	font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #b2b2b2;
}
#moveis-wizard .wizard-details-rigth p {
	margin-top: 5px;
  text-align: right;
  font-family: Arial;
  font-size: 11px;
	line-height: 1.18;
  color: #aeaeae;
}
#moveis-wizard .wizard-details-right__buttons {
	margin-top: 22.5px;
	text-align: right;
}
#moveis-wizard .wizard-details-right__buttons #wizard-description-cancel {
	width: 79px;
  height: 19px;
	border: 0;
	background-color: #FFF;
	cursor: pointer;
	font-family: 'Futura-Bold';
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  text-align: left;
  color: #2a7bbf;
	text-transform: uppercase;
}
#moveis-wizard .wizard-details-right__buttons #wizard-description-save {
	width: 55px;
  height: 19px;
	border: 0;
	padding-right: 0;
	background-color: #FFF;
	cursor: pointer;
	font-family: 'Futura-Bold';
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  text-align: left;
  color: #2a7bbf;
	text-transform: uppercase;
}
body.wizard-no-scroll {
  overflow: hidden;
}
#moveis-wizard .wizard-details-buttton-description-upload {
	margin-top: 10px;
	padding: 10px;
	display: flex;
  justify-content: space-between;
	flex-wrap: wrap;
}
#moveis-wizard .wizard-details-buttton-description-upload button {
	width: 48%;
	height: 42px;
	display: flex;
  align-items: center;
  justify-content: center;
	border: 0;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border-radius: 4px;
  border: solid 1px #2a7bbf;
}
#moveis-wizard .wizard-details-buttton-description-upload button.finish i img.ok {
	display: block;
}
#moveis-wizard .wizard-details-buttton-description-upload button.finish i img.add {
	display: none;
}		
#moveis-wizard .wizard-details-buttton-description-upload button i {
	width: 24px;
	height: 24px;
	display: flex;
	margin-right: 20px;
}
#moveis-wizard .wizard-details-buttton-description-upload button i img.ok {
	display: none;
}
#moveis-wizard .wizard-details-buttton-description-upload button i img {
	width: 100%;
}
#moveis-wizard .wizard-details-buttton-description-upload button p {
	font-family: 'Futura-Bold';
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  text-align: left;
  color: #2a7bbf;
	text-transform: uppercase;
}
#moveis-wizard .wizard-details-buttton-description-upload p.wizard-text-upload {
	font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: right;
  color: #aeaeae;
	width: 100%;
  margin-top: 5.5px;
}
#moveis-wizard .wizard-details-upload {
	margin-top: 10px;
	display: none;
}
#moveis-wizard .wizard-details-upload ul {
	margin: 0;
	padding: 0 10px;
	list-style: none;
}
#moveis-wizard .wizard-details-upload li {
	width: 22.5%;
	height: 67px;
	float: left;
	margin-right: 10px;
	position: relative;
	border-radius: 4px;
  background-color: #b7b7b7;
}
#moveis-wizard .wizard-details-upload li .close {
	opacity: 0;
	width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  top: -7px;
  right: -4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #2e82bd;
  background-color: #ecf5fb;
  font-weight: 700;
  font-family: 'Futura-Bold';
  font-size: 11px;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e82bd;
}
#moveis-wizard .wizard-details-upload li:last-child {
	margin-right: 0px;
}
#moveis-wizard #fileImage1,
#moveis-wizard #fileImage2,
#moveis-wizard #fileImage3,
#moveis-wizard #fileImage4 {
	display: none;
}
#moveis-wizard .wizard-details__buttons {
	width: 100%;
  height: 64px;
	display: inline-block;
	margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0 -1.5px 3px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
}
#moveis-wizard .wizard-details__buttons button{
	width: 300px;
	height: 43px;
	margin-top: 11.5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	border: 0px;
	background-color: #73b529;
	color: #FFF;
	font-weight: 700;
	font-family: 'Futura-Bold';
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 1px;
	font-style: normal;
  font-stretch: normal;
}
#moveis-wizard .wizard-details__buttons button:disabled {
	background-color: #b5d99a;
	cursor: default;
}
#moveis-wizard .wizard-details__name input.error {
  border: 1px solid #bf0e0e;
}
#moveis-wizard .wizard-details-rigth textarea.error {
  border: 1px solid #bf0e0e;
}
#moveis-wizard .wizard-details__name p.error {
	color: #bf0e0e;
}
#moveis-wizard .wizard-details-rigth p.error {
	color: #bf0e0e;
}
#moveis-wizard .wizard-details-upload li img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
	border: 1px solid transparent;
}
#moveis-wizard .wizard-details-upload li [data-id="file1"],
#moveis-wizard .wizard-details-upload li [data-id="file2"],
#moveis-wizard .wizard-details-upload li [data-id="file3"],
#moveis-wizard .wizard-details-upload li [data-id="file4"] {
 width: 100%;
 height: 100%;
 position: relative;
}
#moveis-wizard .wizard-details-upload li.active .close {
	opacity: 1;
}
#moveis-wizard .wizard-details-upload li.active img {
	display: block;
}


#moveis-wizard .wizard-address {
	display: none;
}
#moveis-wizard .wizard-address__text {
  margin-bottom: 30px;
	padding: 0 10px;
}
#moveis-wizard .wizard-address__text h2 {
  margin-bottom: 10px;
  color: #2a7bbf;
  font-weight: 700;
  font-family: 'Futura-Bold';
	font-size: 14px;
}
#moveis-wizard .wizard-address label {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}
#moveis-wizard .wizard-address input {
    width: 100%;
    height: 42px;
    display: inline-block;
    margin-bottom: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFF;
    border: solid 1px #cccccc;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.14;
    color: #666666;
    font-weight: 400;
		padding: 0 10px;
}
#moveis-wizard .wizard-address__forms {
	padding: 0 10px;
}
#moveis-wizard .wizard-address__forms:after {
	content: "";
	display: block;
	clear: both;
}
#moveis-wizard .wizard-address__numero {
	width: 48%;
	float: left;
	margin-bottom: 20px;
}
#moveis-wizard .wizard-address__complemento {
	width: 48%;
	float: right;
	margin-bottom: 20px;
}
#moveis-wizard .wizard-address__cep {
	width: 35%;
	float: left;
	margin-bottom: 20px;
}
#moveis-wizard .wizard-address__rua {
	width: 60%;
	float: right;
	margin-bottom: 20px;
}
#moveis-wizard .wizard-address__bairro {
	width: 48%;
	float: left;
	margin-bottom: 20px;
	margin-right: 4%;
}
#moveis-wizard .wizard-address__cidade {
	width: 30%;
	float: left;
	margin-bottom: 20px;
	margin-right: 4%;
}
#moveis-wizard .wizard-address__estado {
	width: 14%;
	float: left;
	margin-bottom: 20px;
}
#moveis-wizard .wizard-address input:disabled {
  background-color: #f7f7f7;
}
#moveis-wizard .wizard-address-strore:after {
	content: "";
	display: block;
	clear: both;
}
#moveis-wizard .wizard-address-strore {
	padding: 0 10px;
}
#moveis-wizard .wizard-address-store__text {
	margin-bottom: 10px;
}
#moveis-wizard .wizard-address-store__text h4 {
	margin-bottom: 10px;
  font-family: 'Futura-Bold';
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #2a7bbf;
}

#moveis-wizard .wizard-address-store__text p {
	font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
#moveis-wizard .wizard-address-store-item {
	box-sizing: border-box;
	padding: 10px;
	border-radius: 4px;
  border: solid 1px #2a7bbf;
	display: flex;
  align-items: center;
}
#moveis-wizard .wizard-address-store-item:after {
	content: "";
	display: block;
	clear: both;
}
#moveis-wizard .wizard-address-store__local {
	width: 65%;
	float: left;
	padding-right: 5%;
	margin-right: 5%;
	border-right: 1px solid #cccccc;
}
#moveis-wizard .wizard-address-store__local p.store {
	margin-bottom: 5px;
  font-family: 'Futura-Bold';
  font-weight: bold;
  color: #0096db;
	font-size: 12px;
  line-height: 1.17;
  text-align: left;
}
#moveis-wizard .wizard-address-store__local p.address {
	font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
#moveis-wizard .wizard-address-store__buttons {
	width: 83px;
	float: left;
}
#moveis-wizard .wizard-address-store__buttons button{
	width: 100%;
	height: 36px;
	float: left;
	border: 0;
	background-color: transparent;
  font-family: 'Futura-Bold';
	font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  text-align: left;
  color: #2a7bbf;
	text-transform: uppercase;
}
#moveis-wizard .wizard-address__buttons {
	width: 100%;
  height: 64px;
	display: inline-block;
	margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0 -1.5px 3px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
}
#moveis-wizard .wizard-address__buttons button{
	width: 300px;
	height: 43px;
	margin-top: 11.5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	border: 0px;
	background-color: #73b529;
	color: #FFF;
	font-weight: 700;
	font-family: 'Futura-Bold';
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 1px;
	font-style: normal;
  font-stretch: normal;
}
#moveis-wizard .wizard-address__buttons button:disabled {
	background-color: #b5d99a;
	cursor: default;
}
#wizard-modal {
    width: 100vw;
    position: absolute;
		z-index: 1001;
    top: 0px;
    left: 0;
    background-color: #FFF;
    height: 100vh;
		display: none;
}
#wizard-modal .wizard-modal__header{
	width: 100%;
	height: 38px;
	display: flex;
	align-items: center;
	border: solid 1px #e7e7e7;
}
#wizard-modal .wizard-modal__header-close {
	border: 0;
	background-color: #FFFF;
  font-family: 'Futura-Bold';
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #0029ae;
}
#wizard-modal .wizard-modal__header-close:before {
		content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer;
    border: solid #a2adb2;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
#wizard-modal .wizard-modal-left {
	height: 100vw;
  display: inline-block;
}
#wizard-modal .wizard-modal-left:after {
  content: "";
  display: block;
	clear: both;
}
#wizard-modal .wizard-modal__actualy {
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 0 10px;
}
#wizard-modal .wizard-modal__actualy button {
	width: 100%;
	height: 44px;
	display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: solid 1px #a3adb3;
	text-align: left;
	padding: 0 10px;
	font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #1381ce;
}
#wizard-modal .wizard-modal__actualy button:after {
	content: "";
	width: 34px;
  height: 34px;
	display: flex;
  background-color: #1381ce;
	border-radius: 50%;
}
#wizard-modal .wizard-modal__input {
	margin-bottom: 20px;
	display: flex;
	padding: 0 10px;
}
#wizard-modal .wizard-modal__input input {
	width: 80%;
	height: 44px;
	display: flex;
  background-color: #ffffff;
  border: solid 1px #a3adb3;
	border-right: 0;
}
#wizard-modal .wizard-modal__input button {
	width: 20%;
	display: flex;
	background-color: #ffffff;
  border: solid 1px #a3adb3;
	border-left: 0;
	cursor: pointer;
  background-image: url(../images/lupa.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#wizard-modal .wizard-modal__list {
	height: 100vw;
}
#wizard-modal .wizard-modal__list p {
	padding: 22px 10px;
	background-color: #f9fafc;
  border-top: solid 1px #e4ebf1;
  border-bottom: solid 1px #e4ebf1;
	font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
#wizard-modal .wizard-modal__list p strong{
	font-weight: bold;
}
#wizard-modal .wizard-modal__list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: auto;
}
#wizard-modal .wizard-modal__list li {
	padding: 30px 10px;
	border-bottom: solid 1px #e4ebf1;
}
#wizard-modal .wizard-modal__list li figure {
	width: 15%;
	float: left;
	margin: 0 10% 0 0;
	max-width: 36px;
}
#wizard-modal .wizard-modal__list li figure img {
	width: 100%;
}
#wizard-modal .wizard-modal__list li .wizard-modal__list-text {
	width: 78%;
	float: left;
}
#wizard-modal .wizard-modal__list li p.list-title {
	padding: initial;
	border: initial;
	margin-bottom: 10px;
	font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
#wizard-modal .wizard-modal__list li p.list-address {
	padding: initial;
	border: initial;
	margin-bottom: 20px;
	font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}
#wizard-modal .wizard-modal__list li p.list-address span {
	color: #666666;
	display: inline-block;
	width: 100%;
	margin-bottom: 3px;
}
#wizard-modal .wizard-modal__list li p:last-child {
	margin: 0;
}
#wizard-modal .wizard-modal__list-button {
	width: 100%;
	display: inline-block;
	margin-top: 15px;
}
#wizard-modal .wizard-modal__list-button button {
	width: 100%;
	height: 33px;
  border-radius: 2px;
  background-color: #2a7bbf;
	border:0;
  font-family: 'Futura-Bold';
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
	text-transform: uppercase;
}

#moveis-wizard .wizard-contact {
	display: none;
}
#moveis-wizard .wizard-contact__text {
  margin-bottom: 30px;
	padding: 0 10px;
}
#moveis-wizard .wizard-contact__text h2 {
  margin-bottom: 10px;
  color: #2a7bbf;
  font-weight: 700;
  font-family: 'Futura-Bold';
	font-size: 14px;
}
#moveis-wizard .wizard-contact__name,
#moveis-wizard .wizard-contact__phone,
#moveis-wizard .wizard-contact__email {
	padding: 0 10px;
	margin-bottom: 20px;
}
#moveis-wizard .wizard-contact__name label,
#moveis-wizard .wizard-contact__phone label,
#moveis-wizard .wizard-contact__email label {
	width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
	color: #666666;
}
#moveis-wizard .wizard-contact__name input,
#moveis-wizard .wizard-contact__phone input,
#moveis-wizard .wizard-contact__email input {
	width: 100%;
  height: 42px;
  display: inline-block;
  margin-bottom: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFF;
  border: solid 1px #cccccc;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.14;
  color: #666666;
  font-weight: 400;
}
#moveis-wizard .wizard-contact__contact {
	padding: 0 10px;
}
#moveis-wizard .wizard-contact__contact:after {
	content: "";
	display: block;
	clear: both;
}
#moveis-wizard .wizard-contact__contact p {
	margin-bottom: 12px;
	font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
#moveis-wizard .wizard-contact__contact input[type="radio"] {
	display: none;
}
#moveis-wizard .wizard-contact__callme {
	width: auto;
	float: left;
	margin-right: 20px;
	position: relative;
}
#moveis-wizard .wizard-contact__callme:last-child {
	margin: 0;
}
#moveis-wizard .wizard-contact__callme label {
	font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
  text-align: left;
  color: #666666;
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	cursor: pointer;
}
#moveis-wizard .wizard-contact__callme label:before {
	content: "";
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: -ms-flex;
	display: flex;
	width: 28px;
	height: 28px;
	margin-right: 10px;
	border-radius: 4px;
	background-color: #ffffff;
  border: solid 1px #2a7bbf;
}
#moveis-wizard .wizard-contact__callme label:after {
	content: "";
  position: absolute;
  top: calc(50% - 6px);
  left: 6px;
  border: 2px solid #2a7bbf;
  border-right: 0px;
  border-top: 0;
  width: 16px;
  height: 7px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
	opacity: 0;
}
#moveis-wizard .wizard-contact__callme input:checked ~ label:after {
	opacity: 1;
}
#moveis-wizard .wizard-contact__buttons {
	width: 100%;
  height: 64px;
	display: inline-block;
	margin-top: 30px;
  background-color: #ffffff;
	text-align: center;
}
#moveis-wizard .wizard-contact__buttons p {
	font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #aeaeae;
}
#moveis-wizard-success {
	display: none;
}
#moveis-wizard .wizard-contact__buttons button{
	width: 300px;
	height: 43px;
	margin-top: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	border: 0px;
	background-color: #73b529;
	color: #FFF;
	font-weight: 700;
	font-family: 'Futura-Bold';
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 1px;
	font-style: normal;
  font-stretch: normal;
}
#moveis-wizard .wizard-contact__buttons button:disabled {
	background-color: #b5d99a;
	cursor: default;
}
#moveis-wizard-success .wizard-success__right {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0 10px;
}
#moveis-wizard-success .wizard-success__contact p {
  font-family: 'Futura-Light';
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #2a7bbf;
}
#moveis-wizard-success .wizard-success__contact p.contact-different {
  font-family: 'Futura-Bold';
	font-weight: bold;
}
#moveis-wizard-success .wizard-success__contact p.contact-different span {
  font-family: 'Futura-Light';
  font-weight: 300;
}
#moveis-wizard-success .wizard-success__left {
	background-color: #eeeeee;
	padding: 18px 10px;
}
#moveis-wizard-success .wizard-success__order p {
	margin-bottom: 5px;
  font-family: 'Futura-Light';
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: left;
  color: #2a7bbf;
	text-transform: uppercase;
}
#moveis-wizard-success .wizard-success__order p span {
	font-family: 'Futura-Bold';
	font-weight: bold;
}
#moveis-wizard-success .wizard-success__project p:first-child {
	margin-bottom: 5px;
	font-family: 'Futura-Light';
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #2a7bbf;
}
#moveis-wizard-success .wizard-success__project p:first-child span {
	font-family: 'Futura-Bold';
	font-weight: bold;
}
#moveis-wizard-success .wizard-success__project p.wizard-success__project-abstract {
	font-family: 'Futura-Light';
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
#moveis-wizard-success .wizard-success__room {
  width: 100%;
  display: inline-block;
	margin-top: 20px;
  background-color: #FFF;
  border-radius: 4px;
	padding: 15px;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.09);
}
#moveis-wizard-success .wizard-success__room p {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.13;
  text-align: left;
	color: #666666;
}
#moveis-wizard-success .wizard-success__room p:last-child {
    font-weight: normal;
    margin-top: 4.5px;
    font-size: 12px;
}
#moveis-wizard-success .wizard-success__details-photo,
#moveis-wizard-success .wizard-success__store {
	width: 100%;
  display: flex;
	justify-content: space-between;
	margin-top: 10px;
  background-color: #FFF;
  border-radius: 4px;
	padding: 15px;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.09);
}
#moveis-wizard-success .wizard-success__details,
#moveis-wizard-success .wizard-success__photos {
	width: 49%;
}
#moveis-wizard-success .wizard-success__details p:first-child {
	margin-bottom: 5px;
	font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
#moveis-wizard-success .wizard-success__details p:nth-child(2) {
	margin-bottom: 5px;
}
#moveis-wizard-success .wizard-success__details p {
	font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
#moveis-wizard-success .wizard-success__photos p {
	margin-bottom: 10px;
	padding-top: 3px;
	font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
#moveis-wizard-success .wizard-success__photos figure {
	width: 46%;
  height: auto;
	float: left;
	margin: 0 10px 10px 0;
	padding: 0;
	padding-top: 46%;
  border-radius: 4px;
  background-color: #dedede;
	position: relative;
}
#moveis-wizard-success .wizard-success__photos figure:nth-child(2n+1) {
	margin-right: 0;
}
#moveis-wizard-success .wizard-success__photos figure img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
	border: 1px solid transparent;
}
#moveis-wizard-success .wizard-success__store-text p {
	font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
#moveis-wizard-success .wizard-success__store-text p.store {
	margin: 1px 0;
	font-family: 'Futura-Bold';
	font-weight: bold;
	color: #0096db;
}

@media screen and (min-width: 424px) {
	#moveis-wizard .wizard-local__list li {
		width: 31.6%;
	}
	#moveis-wizard .wizard-details-upload li {
		width: 23.1%;
    height: auto;
		padding-top: 20%; 
	}
}
@media screen and (min-width: 600px) {
	#moveis-wizard .wizard-session ul li {
		font-size: 13px;
	}
	#moveis-wizard .wizard-local__text {
		margin-bottom: 15px;
	}
	#moveis-wizard .wizard-local__text h2,
	#moveis-wizard .wizard-details__text h2,
	#moveis-wizard .wizard-details-rigth h2,
	#moveis-wizard .wizard-address__text h2,
	#moveis-wizard .wizard-address-store__text h4,
	#moveis-wizard .wizard-contact__text h2 {
		font-size: 20px;
	}
	#moveis-wizard .wizard-local__text p,
	#moveis-wizard .wizard-address-store__text p,
	#moveis-wizard .wizard-address-store__local p.store,
	#moveis-wizard .wizard-address-store__local p.address,
	#moveis-wizard .wizard-address-store__buttons button,
	#wizard-modal .wizard-modal__header-close,
	#wizard-modal .wizard-modal__actualy button {
		font-size: 14px;
	}
	#moveis-wizard .wizard-local__list li {
		width: 32.1%;
	}
	#moveis-wizard .wizard-local__list p {
    width: 147px;
    height: 38px;
    padding: 0 11px;
    position: absolute;
    bottom: 1px;
    left: 1px;
    -webkit-border-radius: 0 5px 0 5px;
    -moz-border-radius: 0 5px 0 5px;
    -o-border-radius: 0 5px 0 5px;
    -ms-border-radius: 0 5px 0 5px;
    border-radius: 0 5px 0 5px;
    line-height: 38px;
    background-color: #00589a;
    color: #FFF;
    font-weight: 700;
    font-family: 'Futura-Light';
    font-size: 16px;
	}
	#moveis-wizard .wizard-details-upload li {
		width: 23.7%;
	}
	#moveis-wizard .wizard-address-store__buttons {
		width: 113px;
	}
	#moveis-wizard .wizard-address-store__buttons button {
		height: 47px;
	}
	#moveis-wizard .wizard-address-store__local {
		width: 74%;
	}
	#wizard-modal .wizard-modal__input input {
		width: 90%;
	}
	#wizard-modal .wizard-modal__input button {
		width: 10%;
	}
	#moveis-wizard-success .wizard-success__contact p,
	#moveis-wizard-success .wizard-success__order p {
		font-size: 20px;
	}
	#moveis-wizard-success .wizard-success__project p:first-child {
		font-size: 18px;
	}
	#moveis-wizard-success .wizard-success__project p.wizard-success__project-abstract,
	#moveis-wizard-success .wizard-success__room p,
	#moveis-wizard-success .wizard-success__details p:first-child,
	#moveis-wizard-success .wizard-success__store-text p {
		font-size: 16px;
	}
	#moveis-wizard-success .wizard-success__room p:last-child,
	#moveis-wizard-success .wizard-success__details p,
	#moveis-wizard-success .wizard-success__photos p {
		font-size: 14px;
	}

}

@media screen and (min-width: 746px) {
	#moveis-wizard .wizard-session ul li {
		font-size: 15px;
	}
	#moveis-wizard .wizard-local__text {
		margin-bottom: 20px;
	}
	#moveis-wizard .wizard-local__text h2,
	#moveis-wizard .wizard-details__text h2,
	#moveis-wizard .wizard-details-rigth h2,
	#moveis-wizard .wizard-address__text h2,
	#moveis-wizard .wizard-address-store__text h4,
	#moveis-wizard .wizard-contact__text h2 {
		font-size: 30px;
	}
	#moveis-wizard .wizard-local__list li {
		width: 32.4%;
	}
	#moveis-wizard .wizard-local__list p {
    width: 147px;
    height: 38px;
    padding: 0 11px;
    position: absolute;
    bottom: 1px;
    left: 1px;
    -webkit-border-radius: 0 5px 0 5px;
    -moz-border-radius: 0 5px 0 5px;
    -o-border-radius: 0 5px 0 5px;
    -ms-border-radius: 0 5px 0 5px;
    border-radius: 0 5px 0 5px;
    line-height: 38px;
    background-color: #00589a;
    color: #FFF;
    font-weight: 700;
    font-family: 'Futura-Light';
    font-size: 16px;
	}
	#moveis-wizard .wizard-details__name label,
	#moveis-wizard .wizard-details__measures p,
	#moveis-wizard .wizard-details__rooms1 p,
	#moveis-wizard .wizard-address-store__text p,
	#moveis-wizard .wizard-address-store__local p.store,
	#moveis-wizard .wizard-address-store__local p.address,
	#moveis-wizard .wizard-address-store__buttons button,
	#moveis-wizard .wizard-contact__name label,
	#moveis-wizard .wizard-contact__phone label,
	#moveis-wizard .wizard-contact__email label,
	#moveis-wizard .wizard-contact__contact p,
	#moveis-wizard .wizard-contact__callme label {
		font-size: 16px;
	}
	#moveis-wizard .wizard-details__name input,
	#moveis-wizard .wizard-details-input__height input,
	#moveis-wizard .wizard-details-input__width input,
	#moveis-wizard .wizard-details-buttton-description-upload button,
	#moveis-wizard .wizard-address input,
	#moveis-wizard .wizard-contact__name input,
	#moveis-wizard .wizard-contact__phone input,
	#moveis-wizard .wizard-contact__email input {
		height: 54px;
	}
	#moveis-wizard .wizard-details__name p,
	#moveis-wizard .wizard-details-input__height label,
	#moveis-wizard .wizard-details-input__width label,
	#moveis-wizard .wizard-details-buttton-description-upload p.wizard-text-upload,
	#moveis-wizard .wizard-address label {
		font-size: 14px;
	}
	#moveis-wizard .wizard-details-upload li {
    width: 23.9%;
	}
	#moveis-wizard .wizard-address-store__buttons {
    width: 119px;
	}
	#wizard-modal .wizard-modal__list {
    height: 50vw;
	}
}
