@font-face {
    font-family: 'Futura-Std';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/FuturaStdBook_19044.eot') format('eot');
    src: url('../fonts/FuturaStdBook_19044.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FuturaStdBook_19044.woff') format('woff'),
         url('../fonts/FuturaStdBook_19044.ttf') format('truetype');
  }

/* Helpers */
body.monta-facil{
    background-color: #fff;
}
.monta-facil .area-root >div>div::after{
    display: block;
    content: "";
    clear: both;
}
.monta-facil .center{
    width: 1140px;
    margin: 0 auto !important;
}  
