.cards{
	width: 20%;
	height: 265px;
	float: left;
	margin: 2% 5% 0 0;
	transform: scale(.9);
	-webkit-animation: projetos 1s linear;
	transition: all .5s ease;
	&:hover{
		transform: scale(1);		
	}		
		.cards-titulo{
			width: 100%;
			height: 57px;
			float: left;
				h2{
					width: 100%;
					height: auto;
					float: left;
					margin-bottom: 10px;
					font-family: $font-padrao;
					font-size: 1.2em;
		            font-weight: 600;
		            color: $preto;
				}
		}
		.cards-image{
			width: 96%;
			height: auto;
			float: left;
			padding: 2%;
			border: 1px solid $cinza;
			border-radius: 5px;

				img{
					width: 100%;
				}
		}
		.tags{
			width: 100%;
			height: auto; 
			float: left;
			margin: 10px;
			font-family: $font-padrao;
			font-size: .7em;
            font-weight: 400;
            color: $azul;
            	span{
            		width: auto;
            		height: 20px;
            		float: left;
            		margin-right: 10px;
            		margin-bottom: 10px;
            		padding: 0 10px;
            		line-height: 20px;
            		border-radius: 8px;
            		border: 1px solid $cinza;
            	}
		}
}
.card-blog{
	width: 28%;
	height: auto;
	float: left;
	margin: 2% 1% 0 0;
	padding: 2%;
	border: 1px solid $cinza;
	border-radius: 5px;
	transform: scale(.9);
	-webkit-animation: projetos 1s linear;
	transition: all .5s ease;
	&:hover{
		transform: scale(1);
		border: 1px solid dark ( $cinza, 80% );
	}		
		.card-blog-date{
			width: 100%;
			height: auto;
			float: left;
			font-family: $font-padrao;
			font-size: .7em;
            font-weight: 400;
            color: lighten( $preto, 50% );
		}
		.card-blog-title{
			width: 100%;
			height: 84px;
			float: left;
			margin-bottom: 5px;
			line-height: 28px;
			font-family: $font-padrao;
			font-size: 1.5em;
            font-weight: 600;
            color: $rosa;
		}
		p{
			width: 100%;
			height: 60px;
			float: left;
			font-family: $font-padrao;
			font-size: .9em;
            font-weight: 600;
            color: $preto;
		}
}