.site-footer{
	width: 100%;
    height: 30px;
    float: left;
    margin-top: 30px;
    background-color: $preto2;
    text-align: center;

    	.brand{
            width: 100%;
		    height: 30px;
		    float: left;
            line-height: 30px;
            text-align: center;
            font-family: $font-padrao;
            font-weight: 300;
            color: dark( $branco, 20% );
            font-size: .9em;
        }
}