.page-content{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 50px;
		.page-center{
			@include center($content-desktop);
			@media screen and (max-width: $media-mobile) {
				@include center($content-mobile);
			}
			@media screen and (max-width: $media-tablet) {
				@include center($content-tablet);
			}

		}
		article{
			width: 100%;
			height: auto;
			float: left;
			@media screen and (max-width: $media-mobile) {
				width: 96%;
				padding: 2%;
			}
			@media screen and (max-width: $media-tablet) {
				width: 96%;
				padding: 2%;
			}
			&.home{
					p{
						text-align: center;
					}
			}
				h1{
					width: 100%;
					height: auto;
					float: left;
					margin-bottom: 20px;
					font-family: $font-padrao;
		            font-weight: 400;
		            color: $preto;
		            font-size: 2em;
		            	span{
		            		width: auto;
		            		height: auto;
		            		float: left;
		            		border-bottom: 2px solid $azul;
		            		padding: 0 10px;
		            	}
				}
				p{
					width: 100%;
					height: auto;
					float: left;
					margin-bottom: 10px;
					line-height: 30px;
					font-family: $font-padrao;
		            font-weight: 400;
		            color: $preto;
		            font-size: 1.2em;

		            	a{
		            		color: $preto;
		            		text-decoration: underline;
		            		&:hover{
		            			color: $azul;
		            		}
		            	}
		            	img{
		            		margin: 30px auto;
		            		display: flex;
		            	}
				}
		}
		.comentarios{
			width: 100%;
			height: auto;
			float: left;
			margin-top: 30px;
			padding-top: 30px;
			border-top: 1px solid $cinza;
		}
		.compartilhamento{
			width: 100%;
			height: auto;
			float: left;
			margin-top: 30px;
			padding-top: 30px;
			border-top: 1px solid $cinza;
				.addthis_inline_share_toolbox{
					float: right;
				}
		}
}
.link-todos{
	width: 100%;
	height: 50px;
	float: left;
	text-align: center;
	margin: 20px 0;

		a{
			width: 100%;
			height: 50px;
			float: left;
			border: 2px solid $cinza;
			text-align: center;
			line-height: 50px;
			font-family: $font-padrao;
            font-weight: 600;
            color: $azul;
            font-size: 1.2em;
            transition: all .25s ease;
            &:hover{
            	background-color: $preto;
            }
		}
}
