.progress{
	width: 100%;
	height: auto;
	float: left;
	margin: 50px 0;

		.radial-progress{
			width: 210px;
		    height: 210px;
		    float: left;
		    margin: 0 30px 50px 0;
		    position: relative;
		    border-radius: 50%;
		    background-color: rgba(0, 0, 0, 0.2);
		    @media screen and (max-width: $media-mobile) {
		    	margin: 0 auto 30px;
		    	float: none;
		    }

				&:before{
					content: "";
				    width: 210px;
				    height: 210px;
				    position: absolute;
				    top: 0px;
				    left: 0px;
				    z-index: 1;
				    border-radius: 50%;
				    clip: rect(0, 210px, 105px, 0);
				    transform: rotate(90deg);
				    background: $rosa;
				}
				&:after{
					content: "";
				    width: 210px;
				    height: 210px;
				    position: absolute;
				    top: 0px;
				    left: 0px;
				    z-index: 1;
				    border-radius: 50%;
				    clip: rect(0, 210px, 105px, 0);
				    transform: rotate(200deg);
				    background: $rosa;
				}
				.radial-center{
					content: "";
				    width: 160px;
				    height: 160px;
				    position: absolute;
				    top: 26px;
				    left: 25px;
				    z-index: 2;
				    border-radius: 50%;
				    background: #fff;
				    	&:before{
					    	content: attr(data-score);
					    	width: 100%;
					    	position: absolute;
					    	left: 0px;
					    	top: 56px;
						    z-index: 3;
						    text-align: center;
					    	font-family: $font-padrao;
				            font-weight: 600;
				            color: $rosa;
				            font-size: 2em;
					    }

				}
			    &:nth-child(3){
					&:after{
					    transform: rotate(110deg);
					}					
				}	
				&:nth-child(5){
					&:after{
					    transform: rotate(140deg);
					}					
				}
				&:nth-child(7){
					&:after{
					    display: none;
					}					
				}	
				&:nth-child(8){
					&:after{
					    transform: rotate(110deg);
					}
				}
				&:nth-child(9){
					&:after{
					    transform: rotate(230deg);
					}
					.radial-center{
					    &:before{
						    top: 65px;
						    font-size: 1.5em;
					    }						
					}
				}				
				&:nth-child(10){
					&:after{
					    transform: rotate(230deg);
					}
				}
		}
}