/** TEXTO FALANDO SOBRE MIN **/
.quem-sou{
	font-family: 'robotomedium';
	font-size: 1.5rem;

		h1 {	    	
		    text-transform: uppercase;
		    font-family: 'robotobold';
		    font-size: 2rem;
		    @extend .black-text;
		}
}
/** EFEITO QUANDO SELECIONA O TEXTO **/
h1::selection,
h1::-moz-selection,
small::selection,
small::-moz-selection,
p::selection,
p::-moz-selection{
	background-color: #039be5;
	color:#FFF;
}

/** ICONE REDE SOCIAIS **/
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.social li{
	float: left;
	margin-right: 4%;
}
.social {
    display: block;
    padding: 20px 0;
    margin-bottom: 5%;
    list-style-type: none;

    	a {
		    font-size: 38px;
		    line-height: 38px;
		    -webkit-transition: all 0.25s ease;
		    -moz-transition: all 0.25s ease;
		    -o-transition: all 0.25s ease;
		    -ms-transition: all 0.25s ease;
		    transition: all 0.25s ease;
		    color: #888;
		}

		.fa-facebook-f:before,
		.fa-facebook:before {
		  content: "\f09a";
		}
		.fa-twitter:before {
		  content: "\f099";
		}
		.fa-github:before {
		  content: "\f09b";
		}
		.fa-linkedin:before {
		  content: "\f0e1";
		}
		.fa-youtube:before {
		  content: "\f167";
		}
		.fa-file-pdf-o:before {
		  content: "\f1c1";
		}
}
.social .twitter:hover { color: #55acee; }
.social .facebook:hover { color: #44609d; }
.social .github:hover { color: #bbbbbb; }
.social .youtube:hover { color: #dd4b39; }
.social .linkedin:hover { color: #1c87bd; }
