---
layout: default
---

<div class="page-content">
 	<div class="page-center">
	
		<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

		    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		    
		    <small class="date">
	          <time>{{ page.date | date: "%b %-d, %Y" }}</time>
	        </small>

		  <div class="post-content" itemprop="articleBody">
		    {{ content }}
		  </div>

		</article>
			
			<section class="compartilhamento">
				<!-- Go to www.addthis.com/dashboard to customize your tools -->
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57f06215b2b6d553"></script>
				<!-- Go to www.addthis.com/dashboard to customize your tools -->
				<div class="addthis_inline_share_toolbox"></div>

			</section>
			<section class="comentarios">
				<div id="disqus_thread"></div>
				<script>				
				var disqus_config = function () {
				    this.page.url = '{{ site.url }}{{ site.baseurl }}{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
		    		this.page.identifier = '{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				
				(function() { // DON'T EDIT BELOW THIS LINE
				    var d = document, s = d.createElement('script');
				    s.src = '//henrique-melanda.disqus.com/embed.js';
				    s.setAttribute('data-timestamp', +new Date());
				    (d.head || d.body).appendChild(s);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>

	</div>
</div>

